:root {
  --background: 48 100% 97%;
  --foreground: 0 3% 6%;
  --card: 48 100% 97%;
  --card-foreground: 0 3% 6%;
  --popover: 48 100% 97%;
  --popover-foreground: 0 3% 6%;
  --primary: 0 3% 6%;
  --primary-foreground: 48 100% 97%;
  --secondary: 51 33% 92%;
  --secondary-foreground: 0 3% 6%;
  --muted: 51 33% 92%;
  --muted-foreground: 50 3% 30%;
  --accent: 51 33% 92%;
  --accent-foreground: 0 3% 6%;
  --destructive: 3 62% 42%;
  --destructive-foreground: 48 100% 97%;
  --border: 51 21% 88%;
  --input: 51 21% 88%;
  --ring: 55 10% 79%;
  --blockquote-background-color: 51 33% 92%;
  --brand-primary: 185 45% 47%;
  --red-primary: 3 62% 42%;
  --red-secondary: 5 61% 54%;
  --orange-primary: 22 80% 41%;
  --orange-secondary: 23 70% 51%;
  --yellow-primary: 45 99% 34%;
  --yellow-secondary: 45 82% 45%;
  --green-primary: 73 84% 27%;
  --green-secondary: 72 46% 41%;
  --cyan-primary: 175 57% 33%;
  --cyan-secondary: 175 49% 45%;
  --blue-primary: 212 68% 39%;
  --blue-secondary: 208 49% 50%;
  --purple-primary: 259 42% 43%;
  --purple-secondary: 251 40% 64%;
  --magenta-primary: 326 55% 41%;
  --magenta-secondary: 329 54% 59%;
  --radius: 0.5rem;
}

html[data-theme="flexoki-light"] {
  --background: 48 100% 97%;
  --foreground: 0 3% 6%;
  --card: 48 100% 97%;
  --card-foreground: 0 3% 6%;
  --popover: 48 100% 97%;
  --popover-foreground: 0 3% 6%;
  --primary: 0 3% 6%;
  --primary-foreground: 48 100% 97%;
  --secondary: 51 33% 92%;
  --secondary-foreground: 0 3% 6%;
  --muted: 51 33% 92%;
  --muted-foreground: 50 3% 30%;
  --accent: 51 33% 92%;
  --accent-foreground: 0 3% 6%;
  --destructive: 3 62% 42%;
  --destructive-foreground: 48 100% 97%;
  --border: 51 21% 88%;
  --input: 51 21% 88%;
  --ring: 55 10% 79%;
  --blockquote-background-color: 51 33% 92%;
  --brand-primary: 185 45% 47%;
  --red-primary: 3 62% 42%;
  --red-secondary: 5 61% 54%;
  --orange-primary: 22 80% 41%;
  --orange-secondary: 23 70% 51%;
  --yellow-primary: 45 99% 34%;
  --yellow-secondary: 45 82% 45%;
  --green-primary: 73 84% 27%;
  --green-secondary: 72 46% 41%;
  --cyan-primary: 175 57% 33%;
  --cyan-secondary: 175 49% 45%;
  --blue-primary: 212 68% 39%;
  --blue-secondary: 208 49% 50%;
  --purple-primary: 259 42% 43%;
  --purple-secondary: 251 40% 64%;
  --magenta-primary: 326 55% 41%;
  --magenta-secondary: 329 54% 59%;
  --radius: 0.5rem;
}

html[data-theme="flexoki-dark"] {
  --background: 0 3% 6%;
  --foreground: 55 10% 100%;
  --card: 0 3% 6%;
  --card-foreground: 55 10% 100%;
  --popover: 0 3% 6%;
  --popover-foreground: 55 10% 79%;
  --primary: 55 10% 79%;
  --primary-foreground: 0 3% 6%;
  --secondary: 30 4% 11%;
  --secondary-foreground: 55 10% 79%;
  --muted: 30 4% 11%;
  --muted-foreground: 43 3% 85%;
  --accent: 30 4% 11%;
  --accent-foreground: 55 10% 79%;
  --destructive: 5 61% 54%;
  --destructive-foreground: 0 3% 6%;
  --border: 30 3% 15%;
  --input: 30 3% 15%;
  --ring: 30 3% 24%;
  --blockquote-background-color: 30 4% 11%;
  --brand-primary: 185 45% 47%;
  --red-primary: 5 61% 54%;
  --red-secondary: 3 62% 42%;
  --orange-primary: 23 70% 51%;
  --orange-secondary: 22 80% 41%;
  --yellow-primary: 45 82% 45%;
  --yellow-secondary: 45 99% 34%;
  --green-primary: 72 46% 41%;
  --green-secondary: 73 84% 27%;
  --cyan-primary: 175 49% 45%;
  --cyan-secondary: 175 57% 33%;
  --blue-primary: 208 49% 50%;
  --blue-secondary: 212 68% 39%;
  --purple-primary: 251 40% 64%;
  --purple-secondary: 259 42% 43%;
  --magenta-primary: 329 54% 59%;
  --magenta-secondary: 326 55% 41%;
  --radius: 0.5rem;
}

html[data-theme="standard-light"] {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --primary: 221.2 83.2% 53.3%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 221.2 83.2% 53.3%;
  --blockquote-background-color: 210 40% 96.1%;
  --brand-primary: 221.2 83.2% 53.3%;
  --red-primary: 0 84.2% 60.2%;
  --red-secondary: 0 72.2% 50.6%;
  --orange-primary: 24.6 95% 53.1%;
  --orange-secondary: 35 91.7% 43.9%;
  --yellow-primary: 45 93.4% 47.5%;
  --yellow-secondary: 48 96.6% 60%;
  --green-primary: 142.1 76.2% 36.3%;
  --green-secondary: 142.1 70.6% 45.3%;
  --cyan-primary: 182.1 73.8% 46.1%;
  --cyan-secondary: 184.6 70.3% 45.7%;
  --blue-primary: 221.2 83.2% 53.3%;
  --blue-secondary: 221.2 83.1% 65.9%;
  --purple-primary: 262.1 83.3% 57.8%;
  --purple-secondary: 262.1 83.3% 67.8%;
  --magenta-primary: 325.1 80.2% 53.1%;
  --magenta-secondary: 328.2 85.1% 70.2%;
  --radius: 0.5rem;
}

html[data-theme="standard-dark"] {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;
  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;
  --primary: 217.2 91.2% 59.8%;
  --primary-foreground: 222.2 47.4% 11.2%;
  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 224.3 76.3% 48%;
  --blockquote-background-color: 217.2 32.6% 17.5%;
  --brand-primary: 217.2 91.2% 59.8%;
  --red-primary: 0 72.2% 50.6%;
  --red-secondary: 0 62.8% 30.6%;
  --orange-primary: 20.5 90.2% 48.2%;
  --orange-secondary: 17.5 98.6% 35.1%;
  --yellow-primary: 40.8 96.6% 40%;
  --yellow-secondary: 47.9 95.8% 53.1%;
  --green-primary: 142.4 70.6% 45.3%;
  --green-secondary: 139.9 47.2% 36.7%;
  --cyan-primary: 185.6 78.3% 40.8%;
  --cyan-secondary: 172.5 66% 50.4%;
  --blue-primary: 210.5 100% 66.1%;
  --blue-secondary: 213.8 93.9% 67.8%;
  --purple-primary: 266.3 96.5% 80%;
  --purple-secondary: 269.1 75.3% 70%;
  --magenta-primary: 332.2 86.8% 70.4%;
  --magenta-secondary: 333.9 84.7% 70.8%;
  --radius: 0.5rem;
}

html[data-theme="dracula-light"] {
  --background: 60 30% 96%;
  --foreground: 231 15% 18%;
  --card: 60 30% 96%;
  --card-foreground: 231 15% 18%;
  --popover: 60 30% 96%;
  --popover-foreground: 231 15% 18%;
  --primary: 326 100% 74%;
  --primary-foreground: 231 15% 18%;
  --secondary: 60 30% 92%;
  --secondary-foreground: 231 15% 18%;
  --muted: 60 30% 92%;
  --muted-foreground: 231 15% 50%;
  --accent: 60 30% 92%;
  --accent-foreground: 231 15% 18%;
  --destructive: 0 100% 67%;
  --destructive-foreground: 60 30% 96%;
  --border: 60 30% 88%;
  --input: 60 30% 88%;
  --ring: 231 15% 50%;
  --blockquote-background-color: 60 30% 92%;
  --brand-primary: 326 100% 74%;
  --red-primary: 0 100% 67%;
  --red-secondary: 0 100% 77%;
  --orange-primary: 31 100% 71%;
  --orange-secondary: 31 100% 81%;
  --yellow-primary: 60 100% 70%;
  --yellow-secondary: 60 100% 80%;
  --green-primary: 135 94% 65%;
  --green-secondary: 135 94% 75%;
  --cyan-primary: 191 97% 77%;
  --cyan-secondary: 191 97% 87%;
  --blue-primary: 225 100% 75%;
  --blue-secondary: 225 100% 85%;
  --purple-primary: 250 100% 75%;
  --purple-secondary: 250 100% 85%;
  --magenta-primary: 326 100% 74%;
  --magenta-secondary: 326 100% 84%;
  --radius: 0.5rem;
}

html[data-theme="dracula-dark"] {
  --background: 231 15% 18%;
  --foreground: 60 30% 96%;
  --card: 231 15% 18%;
  --card-foreground: 60 30% 96%;
  --popover: 231 15% 18%;
  --popover-foreground: 60 30% 96%;
  --primary: 326 100% 74%;
  --primary-foreground: 231 15% 18%;
  --secondary: 231 15% 26%;
  --secondary-foreground: 60 30% 96%;
  --muted: 231 15% 26%;
  --muted-foreground: 60 30% 76%;
  --accent: 231 15% 26%;
  --accent-foreground: 60 30% 96%;
  --destructive: 0 100% 67%;
  --destructive-foreground: 60 30% 96%;
  --border: 231 15% 26%;
  --input: 231 15% 26%;
  --ring: 326 100% 74%;
  --blockquote-background-color: 231 15% 26%;
  --brand-primary: 326 100% 74%;
  --red-primary: 0 100% 67%;
  --red-secondary: 0 100% 57%;
  --orange-primary: 31 100% 71%;
  --orange-secondary: 31 100% 61%;
  --yellow-primary: 60 100% 70%;
  --yellow-secondary: 60 100% 60%;
  --green-primary: 135 94% 65%;
  --green-secondary: 135 94% 55%;
  --cyan-primary: 191 97% 77%;
  --cyan-secondary: 191 97% 67%;
  --blue-primary: 225 100% 75%;
  --blue-secondary: 225 100% 65%;
  --purple-primary: 250 100% 75%;
  --purple-secondary: 250 100% 65%;
  --magenta-primary: 326 100% 74%;
  --magenta-secondary: 326 100% 64%;
  --radius: 0.5rem;
}

html[data-theme="dark"] {
  --background: 0 3% 6%;
  --foreground: 55 10% 100%;
  --card: 0 3% 6%;
  --card-foreground: 55 10% 100%;
  --popover: 0 3% 6%;
  --popover-foreground: 55 10% 79%;
  --primary: 55 10% 79%;
  --primary-foreground: 0 3% 6%;
  --secondary: 30 4% 11%;
  --secondary-foreground: 55 10% 79%;
  --muted: 30 4% 11%;
  --muted-foreground: 43 3% 85%;
  --accent: 30 4% 11%;
  --accent-foreground: 55 10% 79%;
  --destructive: 5 61% 54%;
  --destructive-foreground: 0 3% 6%;
  --border: 30 3% 15%;
  --input: 30 3% 15%;
  --ring: 30 3% 24%;
  --blockquote-background-color: 30 4% 11%;
  --brand-primary: 185 45% 47%;
  --red-primary: 5 61% 54%;
  --red-secondary: 3 62% 42%;
  --orange-primary: 23 70% 51%;
  --orange-secondary: 22 80% 41%;
  --yellow-primary: 45 82% 45%;
  --yellow-secondary: 45 99% 34%;
  --green-primary: 72 46% 41%;
  --green-secondary: 73 84% 27%;
  --cyan-primary: 175 49% 45%;
  --cyan-secondary: 175 57% 33%;
  --blue-primary: 208 49% 50%;
  --blue-secondary: 212 68% 39%;
  --purple-primary: 251 40% 64%;
  --purple-secondary: 259 42% 43%;
  --magenta-primary: 329 54% 59%;
  --magenta-secondary: 326 55% 41%;
  --radius: 0.5rem;
}
